/*ESTILOS CADASTRO*/

.rcorners2 {
    border-radius: 15px;
    border: 1px solid #004AAD;
    padding: 1rem;
    background-color: white;
  }

  .b-lg-425{
      width: 425px;
  }

  .fs-9pt{
      font-size: 9pt;
  }

  .fs-13pt{
      font-size: 13pt;
  }

  @media (max-width: 790px) {
    .rcorners2{
        margin: 0 -10% 0 -10%;
    }
  }

  @media (max-width: 767px) {
    .rcorners2{
        margin: 0 20% 0 20%;
    }
  }

  @media (max-width: 600px) {
    .rcorners2{
        margin: 0 5% 0 5%;
    }
  }